html, body {
  margin: 0;
  height: 100%;
}

body {

  background: rgb(26,71,158);
  background: linear-gradient(156deg, rgba(26,71,158,1) 0%, rgba(255,255,255,1) 100%);
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 1200px;
  height: 90vh;
  background: white;
}

.main {
  height: 100%;
  overflow: hidden;
  box-shadow: 20px 20px #99ABCC;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  height: 100%;
  overflow: hidden;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0;
  font-size: 30px;
  text-align: center;
}

.wHeader {
  text-align: center;
}

.wHeader h1 {
  text-transform: uppercase;
  color: #335699;
  font-weight: bold;
  max-width: 300px;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.nav {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}


.content {
  background-color: #335699;
  overflow: auto;
}

.content h2 {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  letter-spacing: 4px;
  word-spacing: 4px;
  text-shadow: 2px 2px black;
}

.content p {
  color: white;
  font-size: 18px;
  text-align: left;
}

.contHead {
  margin-top: 5%;
  display: block;
}

.contText {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

/*menu style*/
.menu {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}
.uk-parent{

  letter-spacing: 1px;
}
.uk-active{
  font-weight: bold;
}
.uk-nav-default>li>a {
  color: #335699;
  font-size: 18px;
  font-weight: bold;
}

.uk-nav-default>li>a:focus, .uk-nav-default>li>a:hover {
  color: #335699;
}
.uk-nav-default .uk-nav-sub a {
    color: black;
}
.dis {
  display: none;
}
#asd{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
